/* COMMON */
.body__container {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

/* COUNTER */
.section--counter{
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 200px auto;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.section--counter .counter-group {
    display: flex;
    border: 1px solid #ced4da;
    /* btn(w-35)*2 + num(w-50) = 120 */
    width: 120px;
    height: 35px;
    align-items: center;
}

.section--counter .counter-group .btn {
    border: none;
    width: 35px;
    height: 35px;
    background: #dee2e6;
    font-size: 25px;
}

.section--counter .counter-group .number {
    width: 50px;
    height: 35px;
    background: #fff;
    line-height: 35px;
    text-align: center;
}

/* MODAL */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* modal align center */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative; 
    width: 300px;
    height: 120px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 16px;
}

.modal .modal__title {
    text-decoration: underline;
}

.modal .close{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#btn--close {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #ced4da;
}